/* Responsive css file */
@import url(responsive.css);

/* font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700&display=swap');

html {
    scroll-padding-top: 6rem !important;
}
body {
    font-family: 'Poppins', sans-serif;
}
.button {
    background: /* linear-gradient(315deg, #fa804c, orange)*/  linear-gradient(315deg, #4c7afa, #5ba4ff);; 
    color: #fff;
    padding: 0.6rem 1.5rem;
    border: 5px solid #daf1ff;
    border-radius: .5em;
    font-weight: 500;
}
/* Header */
header {
    background: #FFF9F4;
}
.navbar {
    background: #FFF9F4;
    box-shadow: 0 1px 18px #1414140f;
}
.navbar-brand img{
    max-width: 270px;
}
.navbar-toggler img {
    width: 30px;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.nav-link {
    font-weight: 500;
    color: #3C3C3C;
}
.mobile-logo {
    display: none;
}

/* Banner */
.banner-left {
    padding-left: 8rem;
}
.banner-left h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
}
.banner-left h1>span {
    color: #FA804C;
    display: block;
}
.banner-image {
    max-width: 90%;
}
.banner-left p {
    font-size: .9rem;
    color: #707070;
}
/* Banner end */

/* Header end */




/* Main section */

/* Casual shoes */
.casual-shoes h1,.formal-shoes h1,.about-headign {
    font-family: 'Bebas Neue', cursive;
}
.card {
    padding: .8rem;
    border-radius: 20px;
}
.card-img {
    background-color: #F1F1F1;
    border-radius: 20px;
}
.card-img img {
    height: 250px;
    object-fit: cover;
}
.card-body,.card-footer {
    padding-left: 0;
    padding-right: 0;
}
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
}
.card-body p {
    font-size: .856rem;
}
.card-footer h2 {
    color: #FA804C;
    font-weight: 600;
}
/* Casual shoes end */



/* Formal shoes */
.formal-img {
    border-radius: 0;
    background: none;
}
.formal-img img {
    border-radius: 0;
}
/* Formal shoes end */

/* Main section end */





/* About us */
.about-img {
    width: 100px;
}
/* About us end */